html{font-family:"Comic Sans MS", cursive, sans-serif;background-color:#cee1fb;}
h1{text-align:center;font-size:70px;}
body{text-align:center; font-size:50px;}
button{font-size:40px;font-family:"Comic Sans MS", cursive, sans-serif;box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);}